	<div class="page-wrapper">
		<div id="news" class="container">
			<div id="three-column" class="container">
				<!-- <form action="<?php echo $URI . '/update'?>" method="post" name="signup">
					<input type="text" name="search" value="">
				</form>-->
						
			<?php
			$textHelper = new \Helpers\Text();
									 
			foreach ($data as $item) {
					echo '<div class="tbox1">';
					echo '<div class="title">';
					echo 	'<h2>'.$item->title.'</h2>';
					echo '</div>';
					echo '<p>'.$textHelper->split($item->description, 250).'</p>';
					echo '<a href="/news/id/'.$item->id.'" class="button">Read more</a> </div>';
			}
			?>
			</div>
		</div>
	</div>
