	<div class="page-wrapper">
		<div id="news" class="container">
				<form action="<?php echo $URI ?>" method="post" name="signup">
				      <ul>
             				<li>
             					<label for="name">Your in-game nick: <?php echo \Helpers\User::instance()->name ?></label>
             				</li>
      						<li>
      							<label for="alias">Your game alias (optionally)</label>
      							<input type="text" name="alias" maxlength="255" value="<?php echo \Helpers\User::instance()->alias ?>">
      						</li>
            				<li>
                				<label for="pubkey">Public key (optionally)</label>
                				<input type="text" name="pubkey" value="<?php echo \Helpers\User::instance()->pubkey ?>" maxlength="49">
            				</li>
            				<li>
                				<input type="submit" class="button" value="Update">
            				</li>
        				</ul>
				</form>
		</div>
	</div>