				<div id="menu">
					<ul>
						<check if="{{ @page == 'News'}}">
							<true>
								<li class="active"><a href="#" title="">News</a></li>
							</true>
							<false>
								<li><a href="#" title="">News</a></li>
							</false>
						</check>
						<check if="{{ @page == 'Share'}}">
							<true>
								<li class="active"><a href="#" title="">Share</a></li>
							</true>
							<false>
								<li><a href="#" title="">Share</a></li>
							</false>
						</check>
						<check if="{{ @page == 'Matches'}}">
							<true>
								<li class="active"><a href="#" title="">Matches</a></li>
							</true>
							<false>
								<li><a href="#" title="">Matches</a></li>
							</false>
						</check>
						<check if="{{ @page == 'Ranking'}}">
							<true>
								<li class="active"><a href="#" title="">Ranking</a></li>
							</true>
							<false>
								<li><a href="#" title="">Ranking</a></li>
							</false>
						</check>
					</ul>
				</div>